<!-- practice for NG Content  -->
<div class="page-area">
    <h2>Add product</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere iure ducimus, ratione ipsum voluptatum
        cupiditate. Labore et deleniti commodi, repellendus aliquam odit necessitatibus exercitationem totam ab deserunt
        atque quae distinctio?</p>

    <div class="row">

        <div class="col-md-6">
            <app-product-card>
                <h5 class="card-title">Laptop</h5>
                <a routerLink ="Laptop" class="btn btn-primary">Know more about Laptop</a>

            </app-product-card>
        </div>

        <div class="col-md-6">
            <app-product-card>
                <h5 class="card-title">Mobile</h5>
                <a routerLink="mobile" class="btn btn-primary">Know more about Mobile </a>

            </app-product-card>
        </div>

        <div class="col-md-6">
            <app-product-card>
                <h5 class="card-title">TV</h5>
                <a routerLink="TV" class="btn btn-primary">Know more about TV</a>

            </app-product-card>
        </div>
        
        <div class="col-md-6">
            <app-product-card>
                <h5 class="card-title">trimmer</h5>
                <a routerLink="trimmer" class="btn btn-primary">Know more about trimmer</a>

            </app-product-card>
        </div>


    </div>
</div>